@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333; /* Background mais escuro */
}

.container {
  max-width: 90vw;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  display: grid; /* Adiciona um grid ao container */
  grid-gap: 20px; /* Espaçamento entre os elementos do grid */
  grid-template-areas:
    "header"
    "about"
    "projects"
    "testimonials"
    "contact"
    "footer";
}

header {
  grid-area: header;
}

#about {
  grid-area: about;
}

#projects {
  grid-area: projects;
}

#testimonials {
  grid-area: testimonials;
}

#contact {
  grid-area: contact;
}

footer {
  grid-area: footer;
}

h1, h2, h3 {
  color: #fff; /* Texto branco */
  text-align: center;
}

.project {
  margin-bottom: 20px;
}

.testimonial {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
  color: #333; /* Texto preto */
}

.testimonial p {
  margin-bottom: 10px;
}

.testimonial .author {
  font-weight: bold;
}

footer {
  background-color: #f5f5f5;
  text-align: center;
  padding: 20px;
}

.social-media {
  margin-top: 10px;
}

.social-link {
  display: inline-block;
  margin: 0 5px;
  font-size: 20px;
  color: #333;
}

/* Estilos responsivos */

@media screen and (max-width: 768px) {
  .container {
    max-width: 90vw;
    grid-template-areas:
      "header"
      "about"
      "projects"
      "testimonials"
      "contact"
      "footer";
  }
}
