@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #8B5FBF;
}

.container {
  max-width: 65vw;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

h1, h2, h3 {
  color: #fff;
  text-align: center;
}

nav {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 40vw;
  background-color: #442C6F;
  border-radius: 8px;
}

.nav-container {
  padding: 10px;
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.nav-menu li {
  display: inline-block;
}

.nav-menu li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.nav-menu li a:hover {
  background-color: #9E7BD1;
}

#sobre {
  margin-bottom: 30px;
}

.about-content {
  display: flex;
  align-items: center;
}

.about-content img {
  width: 200px;
  margin-right: 20px;
  border-radius: 8px;
}

#projetos {
  text-align: center;
}

.project {
  display: inline-block;
  margin-bottom: 20px;
  text-align: center;
}

.project img {
  width: 300px;
  border-radius: 8px;
}

#depoimentos {
  margin-top: 30px;
  margin-bottom: 30px;
}

.testimonial {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
}

.testimonial p {
  margin-bottom: 10px;
}

.author {
  font-weight: bold;
}

#contato {
  text-align: center;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  margin-bottom: 10px;
}

form input,
form textarea {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 100%;
}

form button {
  padding: 10px 20px;
  background-color: #442C6F;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

footer {
  text-align: center;
  color: #fff;
  margin-top: 30px;
}

.social-media {
  margin-top: 20px;
}

.social-link {
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
}

.social-link:hover {
  color: #9E7BD1;
}
