@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color:# ;
}

.banner-video {
    background-image: url(../background\ with\ braves.jpg);
    background-size: cover;
    width: 95%;
    height: 95vh;
    overflow: hidden;
    margin: auto;
    border-radius: 0px 0px 30px 30px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.div1 { 
    grid-area: 1 / 1 / 2 / 2;
    width: 500px; 
    height: 400px; 
    margin-left: 35px;
}

.nomeelogo{
    width: 1300px;
    height: 400px;
    margin-top: 50vh;
    transform: translate(0% , -50%);
    display: grid;
    justify-content: start;
    align-items: center;
}
  
#banner-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.banner-nav {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0f0f0;
    height: 50px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}

.banner-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
  
.banner-nav li {
    display: inline-block;
    margin: 0 20px;
}

.banner-nav button{
    color: #740FFF;
    height: 40px;
    width: 90px;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    font-size: 15px;
    margin: 0px 15px;
}

.banner-nav button:hover{
    transition: ease-in-out 0.3s;
    background-color: #740FFF;
    cursor: pointer;
    color: white;
}

.parent-inicio {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 90%;
    height: 800px;
    overflow: hidden;
    margin: auto;
    background-image: url(../vectorbackground.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.div1-inicio {
    padding: 50px 50px;
    width: 60%;
    height: 90%;
    overflow: hidden;
    grid-area: 1 / 1 / 2 / 2;
    background-color: rgb(197, 197, 197);
    margin: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    text-align: center;
    font-weight: 900;
}

.div1-inicio:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}

.div1-inicio:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}

.div1-inicio:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.div1-inicio:hover:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
}

.div1-inicio:hover:after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
}

.div1-inicio ul{
    text-align: center;
}

.div1-inicio ul li{
    list-style-type: none;
    font-size: 1.7em;
    font-weight: bold;
}

.div1-inicio h1{
    text-align: center;
    font-size: 2.5em;
}

.div2-inicio { 
    width: 100%;
    height: 90%;
    overflow: hidden;
    grid-area: 1 / 2 / 2 / 3;
}

.logo{
    display: flex;
    align-self: center;
    justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Ubuntu:wght@700&display=swap');

.nome{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
}

.div3-inicio {
    padding: 50px 50px;
    width: 60%;
    height: 90%;
    overflow: hidden;
    grid-area: 1 / 1 / 2 / 2;
    background-color: rgb(197, 197, 197);
    border-radius: 30px;
    border: 3px solid #66287c;
    grid-area: 1 / 3 / 2 / 4;
    margin: auto;
}

.div3-inicio ul{
    text-align: center;
}

.div3-inicio ul li{
    list-style-type: none;
    font-size: 1.7em;
    font-weight: bold;
}

.div3-inicio h1{
    text-align: center;
    font-size: 2.5em;
}
