@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color:# ;
}

.banner-video {
    background-image: url(../background\ with\ braves.jpg);
    background-size: cover;
    width: 95%;
    height: 95vh;
    overflow: hidden;
    margin: auto;
    border: 3px double black;
    border-radius: 0px 0px 30px 30px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.div1 { 
    grid-area: 1 / 1 / 2 / 2;
    width: 500px; 
    height: 400px; 
    margin-left: 35px;
}

.nomeelogo{
    width: 1300px;
    height: 400px;
    margin-top: 50vh;
    transform: translate(0% , -50%);
    display: grid;
    justify-content: start;
    align-items: center;
}
  
#banner-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.banner-nav {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0f0f0;
    height: 50px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}

.banner-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
  
.banner-nav li {
    display: inline-block;
    margin: 0 20px;
}

.banner-nav button{
    color: #740FFF;
    height: 40px;
    width: 90px;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    font-size: 15px;
    margin: 0px 15px;
}

.banner-nav button:hover{
    transition: ease-in-out 0.3s;
    background-color: #740FFF;
    cursor: pointer;
    color: white;
}

.parent-inicio {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 90%;
    height: 800px;
    overflow: hidden;
    margin: auto;
}

.div1-inicio {
    width: 100%;
    height: 90%;
    overflow: hidden;
    grid-area: 1 / 1 / 2 / 2;
}
.div2-inicio { 
    width: 100%;
    height: 90%;
    overflow: hidden;
    grid-area: 1 / 2 / 2 / 3;
}

.logo{
    display: flex;
    align-self: center;
    justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Ubuntu:wght@700&display=swap');

.nome{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
}

.logo-apex{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.div3-inicio {
    width: 100%;
    height: 90%;
    overflow: hidden;
    grid-area: 1 / 3 / 2 / 4;
}
