@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    overflow: auto;
}

#background {
    position: absolute;
    background-image: url(../background.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.sidebar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 70px;
    height: 250px;
    background-color: #0429407e;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
}

.sidebar a {
    display: block;
    width: 50px;
    margin-bottom: 20px;
}

.sidebar a:last-child {
    margin-bottom: 0;
}

.sidebar a:hover {
    transition: 0.2s ease-in-out;
    filter: drop-shadow(0px 0px 15px white);
}

.link ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin-right: 200px;
}

.link ul li {
    margin: 15px 35px;
}

.link ul li a {
    text-decoration: none;
    color: #042940;
    font-weight: bolder;
    font-size: 1.1em;
    padding: 4px 7px;
}

.link ul li a:hover {
    color: white;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.452);
    transition: all ease-in-out 0.15s;
    border-radius: 5px;
    width: 30px;
}

.banner {
    width: 500px;
    height: 80vh;
    font-size: 1.6em;
    line-height: 40px;
    color: #042940;
    margin: 90px 0px 0px 120px;
}

.banner h1 {
    font-size: 2em;
    text-shadow: 2px 2px #ffffff;
}

.banner p {
    font-size: 0.9em;
    max-width: 600px;
}

.button a {
    text-decoration: none;
    color: #042940;
}

.button {
    cursor: pointer;
    background-color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    margin: auto;
}

.button:hover {
    transition: ease-in-out 0.5s;
    box-shadow: 0px 0px 15px black;
}

.bloco-vo{
    width: 100%;
    text-align: center;
    position: relative;
}

.bloco-pai{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bloco-filho{
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.49);
}

.bloco-filho{
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bloco-nene{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.img-1, .img-2, .img-3, .img-4{
    width: 100px;
    height: 100px;
    margin: 30px;
}

.img-1, .img-2, .img-3, .img-4{
    opacity: 0;
}

.bloco-filho:hover .img-1{
    display: block;
}

.img-1 img, .img-2 img, .img-3 img, .img-4 img{
    margin-top: 5px;
}

#div-1:hover ~ .bloco-nene .img-1,
#div-2:hover ~ .bloco-nene .img-2,
#div-3:hover ~ .bloco-nene .img-3,
#div-4:hover ~ .bloco-nene .img-4{
    opacity: 1;
}